@-webkit-keyframes glowing {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@-moz-keyframes glowing {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@-o-keyframes glowing {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@keyframes glowing {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-moz-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-o-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes border-line {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@-moz-keyframes border-line {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@-o-keyframes border-line {
    0% {
        @include transform(translateY(0));
    }

    25% {
        @include transform(translateY(2px));
    }

    50% {
        @include transform(translateY(5px));
    }

    75% {
        @include transform(translateY(2px));
    }

    100% {
        @include transform(translateY(0));
    }
}

@keyframes border-line {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: #f8991d;
    }
    100% {
        border-color: #fff;
    }
}
