{% set page_title = 'Amazon Selling' %}
{% extends "../elements/_base.twig" %}

{% block content %}
    {# nhớ thêm active để show #}
<div class="message">
    <div class="message__content text-center">
        <div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
        <button class="btn-submit" type="button">Đóng</button>
    </div>
</div>
<div class="menu">
    <div class="menu__dots">
        <span class="menu__dots_text">Trang chủ</span>
        <div class="menu__dots_circle">
            <a
                name="Trang chủ"
                link="sec01"
                class="active"
                href="#sec01"
            ></a>
            <a name="Vị trí & Tiện ích" link="sec02" href="#sec02"></a>
            <a name="Mặt bằng tầng điển hình" link="sec03" href="#sec03"></a>
            <a name="Tiện ích" link="sec04" href="#sec04"></a>
            <a name="Tin tức" link="sec05" href="#sec05"></a>
            <a name="CSBH" link="sec07" href="#sec07"></a>
            <a name="CSBH" link="sec08" href="#sec08"></a>
            <a name="CSBH" link="sec09" href="#sec09"></a>
        </div>
    </div>
    <div class="menu__text">
        {# active #}
        <div class="menu__text_toggle">
            <span class="text">
                menu
            </span>
        </div>
    </div>
</div>
<div class="menu__absolute">
    <div class="close">X</div>
    <div class="menu__absolute-list">
        <a
            name="Trang chủ"
            link="sec01"
            href="#sec01"
            class="active"
        >sec01</a>
        <a name="Mặt bằng tầng điển hình" link="sec02" href="#sec02">sec02</a>
        <a name="Tiện ích" link="sec03" href="#sec03">sec03</a>
        <a name="Tin tức" link="sec04" href="#sec04">sec04</a>
        <a name="CSBH" link="sec05" href="#sec05">sec05</a>
        <a name="CSBH" link="sec07" href="#sec07">sec07</a>
        <a name="CSBH" link="sec08" href="#sec08">sec08</a>
        <a name="CSBH" link="sec09" href="#sec09">sec09</a>
    </div>
</div>
<div class="header wow fadeIn">
    <a href="#" class="header--logo">
        <img src="./assets/images/logo.png" alt="">
    </a>
</div>
<div class="social">
    <div class="social-btn">
        <button class="btn">
            <span class="text">đăng ký ngay</span>
        </button>
    </div>
    <a class="social-icon social-phone" href="tel:000000">
        <img src="./assets/images/icon-phone.png" alt="">
    </a>
    <a class="social-icon social-fb" href="/link-fb">
        <img src="./assets/images/icon-fb.png" alt="">
    </a>
</div>
<div class="popup-news">
    <button class="popup-news__close" type="button">Đóng</button>
    <div class="popup-news__content">
        <h1>Vị trí đắc địa khiến bất động sản hạng sang “miễn dịch” với biến động của thị trường</h1>
        Vị trí đắc địa khiến bất động sản hạng sang “miễn dịch” với biến động của thị trường
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">
            <span style="box-sizing: border-box; font-weight: 700;">Khách hạng sang ưu tiên vị trí khi chọn nhà ở</span>
        </p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Bất chấp những biến động của thị trường, bất động sản hạng sang vẫn được đánh giá là phân khúc có tỷ lệ thanh khoản tốt. Một khảo sát của Viện Nghiên cứu Bất động sản Việt Nam cho thấy, dù vô cùng đắt đỏ nhưng những căn hộ hạng sang đúng nghĩa luôn có lượng đặt mua lớn hơn số lượng chào bán.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">TS. Nguyễn Văn Đính, Tổng thư ký Hội Môi giới BĐS Việt Nam thông tin tại một tọa đàm, chỉ riêng trong năm 2019, nhiều sản phẩm hạng sang đã xuất hiện với mức giá “giật mình”, nhưng nhiều chủ đầu tư vẫn bán thành công và hết hàng chỉ trong hơn một tháng.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Vị chuyên gia này cũng cho biết thêm, tỷ lệ hấp thụ của căn hộ chung cư đạt 68,5%, trong đó, tổng lượng tìm kiếm dòng căn hộ cao cấp và hạng sang dao động ở mức 45 – 46%, đứng vị trí cao nhất. Con số về tỷ lệ tìm kiếm lớn là minh chứng cho sức hút của dòng sản phẩm hạng sang trên thị trường bất động sản.</p>
        <div class="wp-caption aligncenter" id="attachment_7092" style="box-sizing: border-box; margin: auto; max-width: 100%; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify; width: 1034px;">
            <img
                alt=""
                class="wp-image-7092 size-large"
                height="576"
                src="https://storage.googleapis.com/sunshine-advertising-website.appspot.com/website_sunshinegroup_wp/uploads/1/2020/08/vi-tri-dac-dia-khien-bat-dong-san-hang-sang-mien-dich-voi-bien-dong-cua-thi-truong-1-1024x576.jpg"
                style="box-sizing: border-box; border: 0px; vertical-align: middle; height: auto; max-width: 100%; padding: 10px 0px;"
                width="1024"
            >
            <p class="wp-caption-text" style="box-sizing: border-box; margin: 0px 0px 24px;">
                <em style="box-sizing: border-box;">Vị trí đắc địa là yếu tố kéo dãn biên độ tăng giá của dòng bất động sản hạng sang.</em>
            </p>
        </div>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Các chuyên gia cho rằng, yếu tố kéo dãn biên độ tăng giá của loại hình bất động sản hạng sang tại thành phố lớn như Hà Nội, TP.HCM đến từ nguyên tắc “bất di bất dịch” trong đầu tư, đó là vị trí đắc địa.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Các chuyên gia phân tích, theo quan điểm trước đây, sự sang trọng thường gắn với giá trị tính bằng tiền, sự khác biệt của đồ vật, sự độc đáo về vị trí địa lý. Gắn với quan niệm này, nhà đầu tư bất động sản hạng sang thường nghĩ tới tìm kiếm những vị trí địa lý đặc biệt tại đô thị, gần những di tích văn hóa, thuận tiện nhất cho đời sống đô thị và tạo dựng một kiến trúc độc đáo…</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Theo ông Bùi Văn Doanh, Viện trưởng viện Nghiên cứu BĐS Việt Nam, bất động sản hạng sang hút khách nhờ yếu tố vị trí đắc địa. “Có thể, 50 năm nữa khi giao thông được cải thiện, xã hội khác đi thì yếu tố vị trí có thể giảm đi nhưng đến thời điểm hiện tại, đây luôn là một trong những yếu tố đầu tiên khi khách hạng sang tìm mua nhà ở”, ông Doanh nhấn mạnh.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Vị lãnh đạo Viện Nghiên cứu BĐS Việt Nam cũng cho rằng, một yếu tố khác nâng giá trị của sản phẩm bất động sản hạng sang đến từ vị trí gần sông nước của dự án. Trên góc độ phong thuỷ, yếu tố không chỉ có ý nghĩa về mang đến tài lộc vượng khí cho gia chủ mà còn tạo ra góc view triệu đô, mang lại cảm giác thư thái, an lành, đáp ứng đúng tiêu chí về chất lượng cuộc sống đẳng cấp của giới thượng lưu.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">
            <span style="box-sizing: border-box; font-weight: 700;">BĐS hạng sang sẽ lên ngôi tại đâu trong tương lai gần?</span>
        </p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Phân tích về những “tọa độ vàng” sẽ tạo ra sức bật cho dòng bất động sản hạng sang, giới chuyên gia cho rằng, các dự án nằm tại vị trí trung tâm thành phố, hoặc án ngữ ở vùng lõi trung tâm mới sẽ tăng giá trong thời gian tới. Đặc biệt, những dự án sở hữu vị trí “vượng khí” gần sông nước, tầm nhìn triệu đô, biên độ co giãn về giá còn kéo dài.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Lý giải về khả năng tăng giá ở tương lai gần của dự án hạng sang, ông Bùi Văn Doanh cho rằng, ở vị trí đắc địa, giá trị đất tại đây tăng cao thì đương nhiên giá trị của những căn hộ sẽ phải cao. Mặt khác, khi quỹ đất trở nên khan hiếm, mức giá của dòng sản phẩm đắc địa càng gia tăng bởi nguồn cung trở nên khiêm tốn.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Nhìn thực tế trên thị trường, các dòng sản phẩm hạng sang đang sở hữu tỷ lệ thanh khoản tốt nhờ lợi thế lớn đến từ vị trí đắc địa.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Đơn cử như Sunshine Diamond River, với vị trí nằm trên trục đường chính Đào Trí, cầu Phú Mỹ, tọa lạc tại quận 7, một trong 3 quận phát triển nhất và đáng sống nhất tại TP. HCM, những căn hộ hạng sang này đã và đang tạo ra cuộc săn tìm của giới thượng lưu trên thị trường. Yếu tố đắt giá của Sunshine Diamond River còn đến từ vị trí “hiếm có”, 3 mặt hướng sông.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Trong khi đó, dự án Sunshine City Sài Gòn cũng rất tốt về tính thanh khoản khi nằm trên đường Phú Thuận, sát bên khu đô thị Phú Mỹ Hưng, nơi tập trung cộng đồng của các chuyên gia Hàn Quốc.</p>
        <div class="wp-caption aligncenter" id="attachment_7093" style="box-sizing: border-box; margin: auto; max-width: 100%; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify; width: 1034px;">
            <img
                alt=""
                class="wp-image-7093 size-large"
                height="576"
                src="https://storage.googleapis.com/sunshine-advertising-website.appspot.com/website_sunshinegroup_wp/uploads/1/2020/08/vi-tri-dac-dia-khien-bat-dong-san-hang-sang-mien-dich-voi-bien-dong-cua-thi-truong-2-1024x576.jpg"
                style="box-sizing: border-box; border: 0px; vertical-align: middle; height: auto; max-width: 100%; padding: 10px 0px;"
                width="1024"
            >
            <p class="wp-caption-text" style="box-sizing: border-box; margin: 0px 0px 24px;">
                <em style="box-sizing: border-box;">Ví trí 3 mặt hướng sông tạo sức hút cho dự án hạng sang</em>
            </p>
        </div>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Tại Hà Nội, các dự án có vị trí tốt cũng thể hiện ưu thế trong các cuộc đua bất động sản hạng sang. Đơn cử là dự án Sunshine Crystal River, Sunshine City, Sunshine Golden River đánh trúng vào thị hiếu của tệp khách hạng sang nhờ vị trí lõi giữa trung tâm của Khu đô thị quốc tế Nam Thăng Long.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Mẫu số chung của những dự án mang thương hiệu Sunshine này đều toạ lạc tại trung tâm của khu vực Tây Hồ Tây, nơi được đánh giá đang trên đà tăng giá và hút dòng tiền thông minh. Lực đẩy cho đà tăng giá đến từ chủ trương quy hoạch khu vực Tây Hồ Tây trở thành trung tâm chính trị, hành chính mới của Thủ đô, tầm nhìn năm 2030. Các dự án nằm tại vùng trung tâm mới Tây Hồ Tây sẽ được quy hoạch bài bản và chuyên nghiệp, trở thành điểm đến của giới thượng lưu ở hiện tại và trong tương lai.</p>
        <p style="box-sizing: border-box; margin: 0px 0px 24px; color: rgb(49, 52, 52); font-family: Gotham; font-size: 16px; text-align: justify;">Trong tương lai ngắn hạn, những dự án bất động sản hạng sang sẽ còn tiếp tục trên đà tăng giá khi nguồn cung đang trở nên khan hiếm, quỹ đất nội đô co hẹp. Yếu tố vị trí đắc địa rõ ràng không chỉ mang lại tính thanh khoản tốt mà còn gia tăng giá trị bền vững cho các dự án bất động sản hạng sang.</p>
    </div>
</div>
{# trangchu #}
<section class="block block1 sec01" id="sec01">
    <div class="block1__bg pc">
        <img src="./assets/images/block1-bg.jpg" alt="">
    </div>
    <div class="block1__bg-mb mb">
        <img src="./assets/images/block1-bg-mb.jpg" alt="">
    </div>
    <div class="block1__wrap">
        <div class="block1__wrap--content">
            <div class="block1__title wow fadeInRight" data-wow-delay="0.1s">
                HƯỚNG DẪN
                <br>
                BÁN HÀNG
                <br>
                TRÊN AMAZON
                <br>
                CHo NGƯỜI MỚI
            </div>
            <div class="block1__des wow fadeInRight" data-wow-delay="0.2s">Việc bán hàng qua Amazon là một trong những cách nhanh nhất để các doanh nghiệp có thể xây dựng thương hiệu của riêng mình.</div>
            <div class="block1__sub-title wow fadeInRight" data-wow-delay="0.3s">
                NHẬN NGAY TƯ VẤN 1 - 1
                <br>
                GIA NHẬP AMAZON DỄ DÀNG
            </div>
            <div class=" wow fadeInRight" data-wow-delay="0.4s">
                <button class="btn btn-shadow">
                    ĐĂNG KÝ NGAY TẠI ĐÂY!
                </button>
            </div>
        </div>
    </div>
</section>
<section class="block block2 sec02" id="sec02">
    <div class="block2__wrap">
        <div class="block2__left">
            <div class="block2__left--item wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="number">
                    300
                    <br>
                    triệu
                </h2>
                <h3 class="des">khách hàng đang hoạt động tại hơn 180 quốc gia</h3>
            </div>
            <div class="block2__left--item wow fadeInUp" data-wow-delay="0.2s">
                <h2 class="number">
                    195
                    <br>
                    triệu
                </h2>
                <h3 class="des">khách truy cập hàng tháng (chỉ tính riêng ở Hoa Kỳ).</h3>
            </div>
            <div class="block2__left--item wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="number">
                    1,5 tỷ đô la
                </h2>
                <h3 class="des">Doanh nghiệp bên thứ ba có doanh số là 1,5 tỷ đô la trong Prime Day 2018.</h3>
            </div>
        </div>
        <div class="block2__right">
            <h2 class="block2__right--title wow fadeInUp" data-wow-delay="0.1s"> VÌ SAO BẠN NÊN GIA NHẬP BÁN HÀNG XUYÊN BIÊN GIỚI CÙNG AMAZON?</h2>
            <div class="wow fadeInUp" data-wow-delay="0.1s">
                <button class="btn btn-blue-dark">đăng ký ngay tại đây</button>
            </div>
            <div class="block2__right--img wow fadeIn" data-wow-delay="0.2s">
                <img src="./assets/images/block2-img.jpg" alt=" VÌ SAO BẠN NÊN GIA NHẬP BÁN HÀNG XUYÊN BIÊN GIỚI CÙNG AMAZON?">
            </div>
        </div>
    </div>
</section>
<section class="block block3 sec03" id="sec03">
    <div class="block3__wrap">
        <div class="block3__img wow fadeIn" data-wow-delay="0.2s">
            <img src="./assets/images/block3-img.jpg" alt="CƠ HỘI PHÁT TRIỂN DOANH NGHIỆP, GIA TĂNG DOANH SỐ">
        </div>
        <div class="block3__content wow fadeIn" data-wow-delay="0.1s">
            <h2 class="block3__title">
                CƠ HỘI PHÁT TRIỂN DOANH NGHIỆP, GIA TĂNG DOANH SỐ
            </h2>
            <div class="block3__wrap-des">
                <div class="block3__des">
                    <div>
                        Khi bắt đầu bán hàng trên Amazon, bạn sẽ trở thành một phần của điểm bán lẻ, nơi tập trung tất cả các loại người bán, từ các tổ chức Fortune 500 cho đến các nhà cung cấp thủ công làm hàng thủ công. Tất cả đều bán hàng ở đây vì một lý do: tiếp cận hàng trăm triệu khách hàng truy cập Amazon để mua sắm.
                    </div>
                    <b>1. Kể từ khi người bán bên thứ ba gia nhập Amazon vào năm 1999, họ đã phát triển để chiếm 58% doanh số bán hàng của Amazon.</b>
                    <br>
                    <b>2. Doanh số của bên thứ ba trên Amazon đang tăng ở mức 52% một năm (so với 25% đối với doanh số của bên thứ nhất).</b>
                </div>
                <div class="text-center">
                    <button class="btn btn-blue-dark">đăng ký ngay tại đây</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block4 sec04" id="sec04">
    <div class="block4__bg pc">
        <img src="./assets/images/block4-bg.jpg" alt="QUYỀN LỢI BỀN VỮNG, TỰ TIN BÁN HÀNG XUYÊN BIÊN GIỚI">
    </div>
    <div class="block4__bg-mb mb">
        <img src="./assets/images/block4-bg-mg.jpg" alt="QUYỀN LỢI BỀN VỮNG, TỰ TIN BÁN HÀNG XUYÊN BIÊN GIỚI">
    </div>
    <div class="block4__wrap wow fadeInUp">
        <h2 class="block4__title">
            QUYỀN LỢI BỀN VỮNG, TỰ TIN BÁN HÀNG XUYÊN BIÊN GIỚI
        </h2>
        <div class="block4__des">
            <div>
                Amazon Global Selling khởi xướng chương trình “Kỷ nguyên bứt phá, hàng Việt vươn xa”, bao gồm nhiều chương trình giáo dục và đào tạo như:
            </div>
            <div>
                - Bán hàng trên Amazon.
            </div>
            <div>
                - Quá trình thiết lập gian hàng, dịch vụ hoàn thiện đơn hàng bởi Amazon FBA.
            </div>
            <div>
                - Xây dựng thương hiệu trên Amazon.
            </div>
        </div>
        <button class="btn btn-shadow">đăng ký ngay tại đây</button>
    </div>
</section>
<section class="block block5 sec05" id="sec05">
    <div class="block5__wrap">
        <div class="block5__left wow fadeIn">
            <img src="./assets/images/block5-img.jpg" alt="CƠ HỘI PHÁT TRIỂN DOANH NGHIỆP, GIA TĂNG DOANH SỐ">
        </div>
        <div class="block5__right">
            <h2 class="block5__title wow fadeInUp" data-wow-delay="0.1s">
                TIẾT KIỆM THỜI GIAN, NÂNG CAO LỢI NHUẬN VỚI QUY TRÌNH TƯ VẤN 1 - 1 CỦA AMAZON
            </h2>
            <div class="block5__des wow fadeInUp" data-wow-delay="0.2s">
                <div>Dịch vụ tư vấn 1-1 của Amazon Global Selling nhằm giúp bạn:</div>
                <div>
                    <b>- Tiết kiệm thời gian</b>
                    : trực tiếp đối thoại với tư vấn viên Amazon, bạn sẽ được hỗ trợ cách đăng ký tài khoản nhanh chóng. Thay vì mất quá nhiều thời gian tự tìm hiểu, tra cứu tài liệu tiếng Anh trên hệ thống.
                </div>
                <div>
                    <b>- Nâng cao lợi nhuận</b>
                    : Đăng ký thành công tài khoản trên Amazon Global Selling là bước khởi đầu để bạn phát triển doanh nghiệp xuyên biên giới, và nắm bắt cơ hội phát triển dài lâu.
                </div>
            </div>
            <button class="btn btn-blue-dark wow fadeInUp" data-wow-delay="0.3s">đăng ký ngay tại đây</button>
        </div>
    </div>
</section>
<section class="block block6">
    <div class="block6__bg pc">
        <img src="./assets/images/block6-bg.jpg" alt="CƠ HỘI PHÁT TRIỂN DOANH NGHIỆP, GIA TĂNG DOANH SỐ">
    </div>
    <div class="block6__bg-mb mb">
        <img src="./assets/images/block6-bg-mb.jpg" alt="CƠ HỘI PHÁT TRIỂN DOANH NGHIỆP, GIA TĂNG DOANH SỐ">
    </div>
    <div class="block6__wrap wow fadeInUp">
        <div class="block6__title">
            đăng ký ngay tại đây!
            <br>
            nhận ngay tư vấn 1-1
        </div>
        <button class="btn btn-blue-dark">đăng ký ngay tại đây!</button>
    </div>
</section>
<section class="block block7 sec07" id="sec07">
    <div class="block7__wrap">
        <div class="block7__head wow fadeIn">
            <h2 class="block7__title">
                Lời chào từ Amazon Global Selling Việt Nam!
            </h2>
            <div class="block7__des">
                Nhằm mục tiêu giúp sản phẩm Việt Nam xây dựng thương hiệu toàn cầu thông qua nền tảng Amazon, chúng tôi hi vọng anh/chị có thể cung cấp thông tin chính xác và đầy đủ cho những câu hỏi sau đây để chúng tôi có cơ sở tham khảo và hỗ trợ tốt nhất để anh/chị nhanh chóng phát triển kinh doanh trên Amazon.
            </div>
        </div>
        <div class="block7__question">
            <div class="question">
                <div class="question--form">
                    {#
                    <div class="question--item">
                        <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                        <input type="text" class="question--input">
                    </div>
                    #}
                </div>
                <div class="question--button">
                    <button class="question--submit btn btn-blue-dark">Gửi ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block8 sec08" id="sec08">
    <div class="block8__wrap">
        <div class=" block8__slider">
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-1.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-1.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-1.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-1.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
            <div class="block8__item">
                <div class="block8__item--img">
                    <img src="./assets/images/block8-img-2.jpg" alt="Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu">
                </div>
                <div class="block8__item--text">
                    <h2 class="block8__item--title">Đưa hàng Việt Nam ra thế giới thông qua thương mại điện tử toàn cầu</h2>
                    <div class="block8__item--date">
                        19/07/2020
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class=" block8__view-more wow fadeIn">
            Xem tiếp
            <div class="block8__arrow">
                <img src="./assets/images/arrow.png" alt="tin tuc">
            </div>
        </a>
    </div>
</section>
<section class="block block9 sec09" id="sec09">
    <div class="block9__address">
        <div class="block9__img">
            <img src="./assets/images/footer-icon.jpg" alt="tin tuc">
        </div>
        <div class="block9__content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp">
                        <div class="block9__title">Lorem ipsum dolor sit</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp">
                        <div class="block9__title">Lorem ipsum dolor sit</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                        <div class="block9__text">Consectetur adipiscing elit.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block9__all-right">
        © 2020, Amazon Services LLC. All Rights Reserved. An Amazon Company
    </div>
</section>
{% endblock %}
