.popup-news {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    z-index: 1300;
    visibility: hidden;
    @include SVNGothamBook;
    h1,
    h2 {
        @include SVNGothamBold;
    }
    &.active {
        visibility: visible;
        animation: fadeIn 0.5s both;
    }
    &__close {
        background-color: #12416b;
        color: #e1eaf3;
        text-transform: uppercase;
        border-radius: 15px 0 0 15px;
        font-size: 21px;
        letter-spacing: 1px;
        padding: 8px 15px 9px 15px;
        border: none;
        position: absolute;
        right: 0;
        top: 200px;
    }
    &__content {
        width: 80.72917vw;
        margin: 0 auto;
        margin-top: 30px;
        height: 90%;
        overflow: auto;
        padding: 1.04167vw;
        font-size: 1.19792vw;
        color: #3f4d6e;

        @include scrollbar;
    }
}
.question {
    padding: 50px 30px 50px 72px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    &--form {
        // padding-right: 60px;
        @include flexbox;
        @include flex-wrap(wrap);
        overflow-y: auto;
        max-height: 755px;

        @include scrollbar;
    }
    &--item {
        @include flexbox;
        @include flex-direction(column);
        width: calc(50% - 60px);
        margin: 70px 23px 0 23px;
    }
    &--label {
        @include SVNGothamMedium;
        color: #243040;
        font-size: 22px;
        margin-bottom: 10px;
        min-height: 47px;
    }
    &--input {
        color: #243040;
        border: none;
        min-height: 40px;
        padding: 5px 10px;
        border-bottom: 2px solid #243040;
        font-size: 22px;
        &:focus {
            border-bottom: 2px solid #f8991d;
        }
        &:hover,
        &:focus {
            outline: none !important;
        }
    }
    &--button {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}
.block1 {
    position: relative;
    &__bg {
    }
    &__wrap {
        color: #fff;
        width: 690px;
        position: absolute;
        left: 1000px;
        top: 125px;
        z-index: 1;
    }
    &__title {
        @include SVNGothamBold;
        font-size: 70px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    &__des {
        font-size: 25px;
        margin-top: 30px;
        line-height: 1.2;
    }
    &__sub-title {
        @include SVNGothamBold;
        text-transform: uppercase;
        font-size: 40px;
        margin-top: 25px;
        line-height: 1.2;
    }
    .btn {
        margin-top: 30px;
    }
}
.block2 {
    background-image: url(../assets/images/block2-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    &__wrap {
        @include flexbox;
        padding-top: 175px;
        margin-left: 190px;
        margin-right: 150px;
    }
    &__left {
        width: 360px;
        margin-right: 100px;
    }
    &__left--item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        .number {
            @include SVNGothamBold;
            font-size: 100px;
            color: #f7a438;
            text-transform: uppercase;
            text-shadow: 2px 2px 1px #935300;
        }
        .des {
            font-size: 24px;
            color: #3f4d6e;
        }
    }
    &__right {
        flex: 1;
    }
    &__right--title {
        @include SVNGothamBold;
        font-size: 50px;
        color: #12416b;
        line-height: 1.3;
        margin-bottom: 50px;
    }
    &__right--img {
    }
    .btn {
        margin-bottom: 100px;
    }
}
.block3 {
    padding-left: 0;
    padding-top: 80px;
    padding-bottom: 280px;
    &__wrap {
        @include flexbox;
        position: relative;
        margin-right: 175px;
    }
    &__img {
        top: 200px;
        max-width: 1025px;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 135px;
    }
    &__content {
        border: 17px solid #12416b;
        padding: 25px 30px 34px 0;
        width: 915px;
        margin-left: auto;
    }
    &__title {
        @include SVNGothamBold;
        color: #12416b;
        font-size: 50px;
        padding-left: 45px;
        padding-bottom: 25px;
    }
    &__wrap-des {
        padding-left: 360px;
    }
    &__des {
        font-size: 20px;

        b {
            @include SVNGothamMedium;
            color: #3f4d6e;
            font-weight: 600;
        }
    }
    .btn {
        margin-top: 45px;
    }
}
.block4 {
    position: relative;
    &__bg {
    }
    &__wrap {
        position: absolute;
        z-index: 1;
        max-width: 790px;
        width: 100%;

        top: 80px;
        left: 200px;
    }
    &__title {
        @include SVNGothamBold;
        color: #fff;
        font-size: 50px;
        margin-bottom: 35px;
    }
    &__des {
        font-size: 20px;
        color: #fff;
        margin-bottom: 40px;
    }
    .btn-shadow {
        background-color: #fff;
        color: #12416b;
        border-color: #fff;
        font-size: 23px;
        padding: 7px 70px;
        animation: none;
        border-radius: 10px;
        &:hover {
            border-color: #12416b;
        }
        &::before {
            background-color: #12416b;
            left: 8px;
            top: 3px;
            border: 3px solid #12416b;
            border-radius: 10px;
            min-height: 54px;
        }
    }
}
.block5 {
    padding: 125px 170px 250px 185px;
    &__wrap {
        @include flexbox;
        position: relative;
        z-index: 1;
    }
    &__left {
        width: 900px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 290px;
            height: 505px;
            background-color: #f8991d;
            left: -130px;
            bottom: -90px;
            z-index: -1;
        }
    }
    &__right {
        flex: 1;
        margin-left: 40px;
    }
    &__title {
        @include SVNGothamBold;
        color: #12416b;
        font-size: 50px;
        margin-bottom: 40px;
    }
    &__des {
        font-size: 20px;
        margin-bottom: 42px;
        color: #3f4d6e;
        line-height: 1.4;
        b {
            @include SVNGothamBold;
        }
    }
    .btn {
        min-width: 435px;
    }
}
.block6 {
    position: relative;
    &__bg {
    }
    &__wrap {
        position: absolute;
        max-width: 650px;
        left: 210px;
        top: 90px;
    }
    &__title {
        @include SVNGothamBold;
        color: #12416b;
        text-transform: uppercase;
        line-height: normal;
        font-size: 50px;
        margin-bottom: 35px;
    }
    .btn {
    }
}
.block7 {
    background-color: #243040;
    padding: 65px 170px 0 170px;
    &__wrap {
        text-align: center;
    }
    &__title {
        @include SVNGothamBold;
        color: #f8991d;
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 20px;
    }
    &__des {
        color: #fff;
        line-height: 1.3;
        margin-bottom: 50px;
        font-size: 25px;
    }
    &__head {
        max-width: 87%;
        margin-left: auto;
        margin-right: auto;
    }
}
.block8 {
    background-image: url(../assets/images/block8-bg.jpg);
    background-size: 100% 100%;
    &__wrap {
        padding: 290px 0 120px 295px;
        overflow: hidden;
    }
    &__slider {
        width: calc(100% + 80px);
    }
    &__item {
        margin: 0 22px;
        cursor: pointer;
        &:hover,
        &.slick-current {
            .block8__item--text {
                background-color: #faa501;
            }
            .block8__item--title {
                color: #001f3a;
            }
            .block8__item--date {
                color: #001f3a;
                &::before {
                    background-image: url(../assets/images/icon-clock-active.png);
                }
            }
        }
    }
    &__item--img {
        @include flex_center;
        background: #000;
        height: 345px;
    }
    &__item--text {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        background-color: #12416b;
        padding: 25px 25px 15px 25px;
        min-height: 180px;
    }
    &__item--title {
        font-size: 24px;
        color: #fff;
    }
    &__item--date {
        position: relative;
        color: #fff;
        font-size: 16px;
        padding-left: 28px;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../assets/images/icon-clock.png);
            width: 18px;
            height: 19px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__view-more {
        @include flexbox;
        @include align-items(center);
        text-transform: uppercase;
        text-decoration: none;
        color: #000 !important;
        margin-left: 320px;
        font-size: 23px;
        margin-top: 65px;
        &:hover {
            text-decoration: none;
        }
    }
    &__arrow {
        max-width: 76px;
    }
    .slick-dots {
        transform: none;
        text-align: left;
        width: auto;
        bottom: -125px;
        left: 80px;

        li {
            background-color: #9c9c9c;
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin: 0 10px;

            &.slick-active {
                background-color: #333333;
            }
        }
        button {
            display: none;
        }
    }
}
.block9 {
    &__address {
        @include flexbox;
        background-color: #12416b;
    }
    &__img {
        transform: translateY(-27px);
    }
    &__content {
        color: #fff;
        flex: 1;

        padding: 75px 0 70px 130px;
    }
    &__title {
        @include SVNGothamBold;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 25px;
    }
    &__text {
        @include SVNGothamBook;
        font-size: 18px;
        margin-bottom: 25px;
    }
    &__all-right {
        @include SVNGothamMedium;
        background-color: #f8991d;
        text-align: center;
        color: #fff;
        font-size: 24px;
        padding-top: 32px;
        padding-bottom: 33px;
    }
}
